doctype html
html(lang='en')
  head
    title= (tcUser ? "Teacher Candidate" : "Faculty") + " Modules Dashboard"
    link(rel="stylesheet", href=APP_URL + "LatoLatin/latolatinfonts.css")
    link(rel="stylesheet", href=APP_URL + "mod.css")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    block body
      //- Top level navigation links
      P
        if userRoles.includes('dev')
          A(HREF=APP_URL + "dev/home") Home
          | &nbsp; | &nbsp;
          if tcUser
            A(HREF=APP_URL + "dev/tcModulesLinks") Teacher Candidates List
          else
            A(HREF=APP_URL + "dev/facultyList") Faculty List
          | &nbsp; | &nbsp;
          A(HREF=APP_URL + "dev/cstAdminList?destination=modules") CST-Admin List
          | &nbsp; | &nbsp;
    
        if userRoles.includes('CST-Admin')
          A(HREF=APP_URL + "dash/cstAdmin?destination=modules") Campus Faculty List
          | &nbsp; | &nbsp;
      
        //- Provide link to corresonding observations dashboard
        if tcUser
          A(HREF=APP_URL + "dash/tc/" + user.id + "/obs") Observations Dashboard
        else
          A(HREF=APP_URL + "dash/faculty/" + user.id + "/obs") Observations Dashboard

      //- Figure out which add buttons are enabled.
      //- If not configuration item found, go with default of just Google enabled.
      //- - const buttonConfig = addConfig.find( e => e.email === user.login_id)
      //- - const isGoogleEnabled = buttonConfig ? (buttonConfig.enable_Google == 1) : true
      //- - const isCritiqueItEnabled = buttonConfig && (buttonConfig.enable_iSupervision == 1)

      H1= 'Modules Dashboard for ' + user.name

      //- Only display terms that contain students
      - var termsWithStudents = userTerms.filter( e => e.students.length > 0 );
      each term in termsWithStudents
        H2= term.name
        DIV
          //---------- Fixed table columns
          DIV(CLASS="fixed_left")
            TABLE(ClASS="dash_table")
              THEAD
                TR
                  TH
                    if tcUser
                      DIV Faculty
                    else
                      DIV Teacher
                      DIV Candidates
                TR
              TBODY
                each student in term.students
                  TR
                    TD(CLASS="student_col")
                      DIV
                        if tcUser
                          if term.faculty
                            =term.faculty.user.name
                        else
                          A(HREF= CST_CANVAS_BASE_URL + 'courses/' + term.course_id + '/grades/' + student.id + '#tab-assignments' TARGET="_BLANK")= student.name

          //---------- Scrolling table columns
          DIV(CLASS="scrolling_right")
            TABLE(ClASS="dash_table"  ID="term_" + term.code)
              //- Table head requires 2 rows to accommodate survey module
              -var hasSurveyModule = term.modules.find( e => e.has_survey)
              if hasSurveyModule
                THEAD(CLASS="dash_head_half_height")
                  TR
                    TH(ROWSPAN="2")
                      DIV Clinical Experience
                      DIV Hours
                    each module in term.modules
                      //- Draw survey module columns

                      if module.has_survey
                        TH(COLSPAN="2")
                          DIV= module.name
                      else
                        TH(ROWSPAN="2")
                          DIV= module.name
                          //- Display module's submission count
                          - var submissionCount = module.items_count
                          DIV(STYLE="font-weight:normal")= submissionCount + " submissions"

                    TH(ROWSPAN="2")
                      DIV Term Grade
                  TR
                    - var surveyModules = term.modules.filter( e => e.has_survey)
                    each surveyModule in surveyModules
                      //- If assignments in module, 1st subheading is submissions count
                      - var surveyModuleAssCount = surveyModule.items.filter( e => e.type === "Gradeable").length
                      if (surveyModuleAssCount > 0)
                        TH(STYLE='font-weight:normal')= surveyModuleAssCount + ' submissions'

                      //- Iterate through quiz items in the survey module
                      -var surveyModuleQuizItems = surveyModule.items.filter( e => e.type === "Survey")
                      each item in surveyModuleQuizItems
                        TH
                          //- Use alternate title for quiz, if one is configured
                          - var alternateTitle = term.quiz_titles && term.quiz_titles.find( e => e.id === item.quiz_id)
                          - var quizTitle = alternateTitle ? alternateTitle.title : item.title
                          
                          //- -var quizTitle = (item.id === 3555) ? "CalTPA C1 Complete?" : item.title
                          //- -var quizTitle = item.title
                          -var quizUrl = `${CST_CANVAS_BASE_URL}courses/${term.course_id}/quizzes/${item.quiz_id}`
                          A(HREF=quizUrl TARGET="_BLANK")= quizTitle

              //- Table head of one row for terms without survey module
              else
                THEAD
                  TR
                    TH
                      DIV Clinical Experience
                      DIV Hours
                    each module in term.modules
                      TH
                        DIV= module.name

                        //- Display module's submission count
                        - var submissionCount = module.items_count
                        DIV(STYLE="font-weight:normal")= submissionCount + " submissions"
                    TH
                      //- 01.25.2019 tps Label the last column "Term Grade", 
                      //- except when the module is used for assessment.
                      DIV= term.grade_module.name.includes('Assessment') ? 'Term Assessment' : 'Term Grade'
                      //- DIV Term Grade

              TBODY
                each student in term.students
                  TR
                    //- Locate CE hours cells by term code and student IDs
                    - var ceHoursId = `term_${term.code}_stu_${student.id}`;
                    TD(ID=ceHoursId STYLE='text-align:center') ---<BR/>---
                    each courseModule, moduleIndex in term.modules

                      //- Display survey module quiz answers
                      //- Can be a combination of assignments & quizzes.
                      if courseModule.has_survey

                        //- Make slot for submissions summary, if there are assignments in this module too
                        -var surveyModuleItems = courseModule.items
                        -var surveyModuleAssCount = surveyModuleItems.filter( e => e.type === "Gradeable").length
                        if (surveyModuleAssCount > 0)
                          - var moduleId = courseModule.id
                          - var divId = `sec_${term.course_section_id}_stu_${student.id}_mod_${moduleIndex}`; 
                          TD(ID=divId) ----

                        //- Make slots for module quizzes
                        -var surveyModuleQuizItems = surveyModuleItems.filter( e => e.type === "Survey")
                        each item in surveyModuleQuizItems
                          - var quizTdId = `crs_${term.course_id}_quz_${item.quiz_id}_stu_${student.id}`;
                          TD(ID= quizTdId STYLE="text-align:center") ----
                      
                      //- Display submission counts
                      //- To locate a table cell, it's ID contains section, student & module IDs
                      else
                        - var moduleId = courseModule.id
                        - var divId = `sec_${term.course_section_id}_stu_${student.id}_mod_${moduleIndex}`; 
                        TD(ID=divId) ----
                    
                    //- Last position goes to term grade module
                    //- The term grade module is assumed to be the last module in a course.
                    - var gradeModuleId = term.grade_module.id
                    - var gradeDivId = `sec_${term.course_section_id}_stu_${student.id}_mod_${gradeModuleId}`; 
                    TD
                      DIV(id=gradeDivId STYLE="text-align:center") ----
                              
      DIV
        IMG(SRC=APP_URL + "mod-icons/modDashKey.png" CLASS="mod-key")

      //- Place to log request errors
      DIV(ID="divStatus" STYLE="margin-top: 50px; color:red")
              
      //- Debug stuff
      if isDevModeOn
        DIV(STYLE="margin-top:100px")
          TABLE(CLASS='data')
            TR
              TH Property
              TH Value
            TR
              TD userRoles
              TD= userRoles
            TR
              TD userTerms
              TD
                PRE= JSON.stringify(userTerms, null, 2)
            TR
              TD user
              TD
                PRE= JSON.stringify(user, null, 2)
            TR
              TD iSupeCourseId
              TD= iSupeCourseId
            //- TR
            //-   TD courseModules
            //-   TD
            //-     PRE= JSON.stringify(courseModules, null, 2)
          
          //- Display session data for developers
          H2 Sever Session
          TABLE(CLASS='data')
            each val, key in sessionData
              tr
                td(style="font-weight: bold;")= key + ":"
                if typeof val === 'object'
                  td
                    PRE= JSON.stringify(val, null, 2)
                else
                  td= val
      DIV(ID=divStatus)

      //- Stash data for browser scripts
      DIV(ID="userTerms" STYLE="display:none")!=JSON.stringify(userTerms)
      //- DIV(ID="courseModules" STYLE="display:none")!=JSON.stringify(courseModules)
      DIV(ID="facultyUser" STYLE="display:none")!=JSON.stringify(user)
      DIV(ID="appLocation" STYLE="display:none")=APP_URL
      DIV(ID="canvasBaseUrl" STYLE="display:none")=CST_CANVAS_BASE_URL

      //- Tell browser script that this is a teacher candidate page
      if tcUser
        DIV(ID="tcUser" STYLE="display:none") tcUser
      
      SCRIPT(SRC=APP_URL + "js/dash.js")
      