doctype html
html(lang='en')
  head
    if tcUser
      title Teacher Candidate Module Submissions
    else
      title Faculty Dashboard Module Submissions
    link(rel="stylesheet", href=APP_URL + "LatoLatin/latolatinfonts.css")
    link(rel="stylesheet", href=APP_URL + "style.css")
    link(rel="stylesheet", href=APP_URL + "style_module_submissions.css")
    meta(name="viewport" content="width=device-width, initial-scale=1.0")
  body
    //- Top level navigation links
    P
      if userRoles.includes('dev')
        A(HREF= APP_URL + "dev/home") Home
        | &nbsp; | &nbsp;
        if tcUser
          A(HREF= APP_URL + "dev/tcModulesLinks") Teacher Candidates List
        else
          A(HREF= APP_URL + "dev/facultyList") Faculty List
        | &nbsp; | &nbsp;
        A(HREF=APP_URL + "dev/cstAdminList?destination=modules") CST-Admin List
        | &nbsp; | &nbsp;

      if userRoles.includes('CST-Admin')
        A(HREF=APP_URL + "dev/facultyList") Faculty List
        | &nbsp; | &nbsp;

      //- Provide link to corresonding observations dashboard
      if tcUser
        A(HREF=APP_URL + "dash/tc/" + user.id + "/obs") Observations Dashboard
      else
        A(HREF=APP_URL + "dash/faculty/" + user.id + "/obs") Observations Dashboard

    H1
      if tcUser
        A(HREF= APP_URL + "dash/tc/" + user.id + '/mod')= 'Modules Dashboard for ' + user.name
      else
        A(HREF= APP_URL + "dash/faculty/" + user.id)= 'Modules Dashboard for ' + user.name
    each term in userTerms
      H2= term.year + ' ' + term.season + ', ' + term.name
      DIV
        //---------- Fixed table columns
        DIV(CLASS="fixed_left")
          TABLE(ClASS="dash_table")
            THEAD
              TR
                TH
                  if tcUser
                    DIV Faculty
                  else
                    DIV Teacher
                    DIV Candidates
            TBODY
              each student in term.students
                TR
                  TD(CLASS="student_col")
                    DIV
                      if tcUser
                        if faculty
                          =faculty.name
                      else
                        A(HREF= CST_CANVAS_BASE_URL + 'courses/'+ term.course_id + '/grades/' + student.id + '#tab-assignments' TARGET="_BLANK")= student.name

        //---------- Scrolling table columns
        DIV(CLASS="scrolling_right")
          TABLE(ClASS="dash_table"  ID="term_" + term.code)
            //- Table head for assignments
            //- -var courseModule = courseModules[term.course_id].find( e => e.id === moduleId)
            //- -var moduleAssignments = courseModule.items.filter( e => e.type === "Assignment")
            //- -var moduleAssignments = courseModule.items.filter( e => e.type === "Gradeable")
            - var moduleAssignments = dashboardModule.items.filter( e => e.type === "Gradeable")
            THEAD
              TR
                each assignment in moduleAssignments
                  if tcUser
                    TH= assignment.title
                  else
                    TH
                      A(HREF=assignment.html_url TARGET="_blank")= assignment.title

            TBODY
              each student in term.students
                TR
                  each assignment in moduleAssignments
                    //- TD(ID= `sec_${term.course_section_id}_ass_${assignment.content_id}_stu_${student.id}`) ----
                    TD(ID= `sec_${term.course_section_id}_ass_${assignment.assignment_id}_stu_${student.id}`) ----
    if !tcUser
      P Use <span style="font-weight: bold">SpeedGrader</span> to review teacher candidate work.
    H3
      if tcUser
        A(HREF= APP_URL + "dash/tc/" + user.id + '/mod') Back to overview
      else      
        A(HREF= APP_URL + "dash/faculty/" + user.id) Back to overview

    //- Place to log request errors
    DIV(ID="divStatus" STYLE="margin-top: 50px; color:red")
    
    //- Debug stuff
    if isDevModeOn
      DIV(STYLE="margin-top:100px")
        TABLE(CLASS='data')
          TR
            TH Property
            TH Value
          TR
            TD userRoles
            TD= userRoles
          TR
            TD userTerms
            TD
              PRE= JSON.stringify(userTerms, null, 2)
          //- TR
          //-   TD userEnrollments
          //-   TD
          //-     PRE= JSON.stringify(userEnrollments, null, 2)
          TR
            TD user
            TD
              PRE= JSON.stringify(user, null, 2)
          TR
            TD dashboardModule
            TD
              PRE= JSON.stringify(dashboardModule, null, 2)
          TR
            TD activity405Url
            TD
              PRE= activity405Url
          TR
            TD faculty
            TD
              PRE= JSON.stringify(faculty, null, 2)
        //- Display session data for developers
        H2 Sever Session
        TABLE(CLASS='data')
          each val, key in sessionData
            tr
              td(style="font-weight: bold;")= key + ":"
              if typeof val === 'object'
                td
                  PRE= JSON.stringify(val, null, 2)
              else
                td= val
    DIV(ID=divStatus)

    //- Stash data for browser scripts
    DIV(ID="userTerms" STYLE="display:none")!=JSON.stringify(userTerms)
    DIV(ID="dashboardModule" STYLE="display:none")!=JSON.stringify(dashboardModule)
    DIV(ID="facultyUser" STYLE="display:none")!=JSON.stringify(user)
    DIV(ID="appLocation" STYLE="display:none")=APP_URL
    DIV(ID="canvasBaseUrl" STYLE="display:none")=CST_CANVAS_BASE_URL
    DIV(ID="activity405Url" STYLE="display:none")=activity405Url

    if tcUser
      //- When displaying for teacher candidates, tell browser script to link to submission detail page instead of SpeedGrader
      DIV(ID="submissionDetailLink" STYLE="display:none") submissionDetailLink
    
    SCRIPT(SRC=APP_URL + "js/moduleDetail.js")
