doctype html
HTML(lang="en")
  HEAD
    TITLE CST Dashboard Development Home
    link(rel="stylesheet", href=APP_URL + "LatoLatin/latolatinfonts.css")
    LINK(REL="stylesheet", href=APP_URL + "style.css")
  BODY
    P
      A(HREF="./home") Home
    H1 CST Dashboard Developer Pages
    H2 Faculty Dashboards
    UL
      LI
        A(HREF="facultyList") Faculty Modules Pages
      LI
        A(HREF="obsFacultyList") Faculty Observations Pages
    H2 Teacher Candidate Dashboards
    UL
      LI
        A(HREF="tcModulesLinks") Teacher Candidate Modules Pages
      LI
        A(HREF="tcObservationsLinks") Teacher Candidate Observations Pages
    H2 CST-Admin Dashboard
    UL
      LI
        A(HREF="cstAdminList?destination=modules") CST-Admin Modules
      LI
        A(HREF="cstAdminList?destination=observations") CST-Admin Observations
    H2 Developer Test Pages
    UL
      LI
        A(HREF="sessionData") Session Cache
      LI
        A(HREF=APP_URL + "LatoLatin/latolatin.html") Lato Web Font
      LI
        A(HREF="uuids") UUID Generator
      LI
        A(HREF="camUserSearch") CAM User Search
      LI
        A(HREF="scanForHands") Scan for Hands Raised
      LI
        A(HREF="testNotifications") Test Twilio
    H2 App Configuration
    UL
      LI
        A(HREF="termsConfig") Terms
      LI
        A(HREF="googleAssignmentConfig") Google Assignment Description
      LI
        A(HREF="addsConfig") Add Assignments Permissions
      LI
        A(HREF="cstAdminsConfig") CST Admins
      LI
        A(HREF="assignmentDestinationsConfig") Courses for Assignment Destinations CSV
      LI
        A(HREF="mustacheTemplates") Message Templates
      LI
        A(HREF="devMode") Developer Mode Setting
    UL
      LI='Canvas URL: ' + CST_CANVAS_BASE_URL
      LI='Term name: ' + TERM_NAME
    H2 Canvas Data
    UL
      LI
        A(HREF="canvasCache") Canvas Cache
      LI
        A(HREF="primeCanvasCache") Prime the Canvas Cache
      LI
        A(HREF="canvasCourses") Canvas Course List
      LI
        A(HREF="assignmentUrls") Assignment URLs Extraction
    H2 Dashboard Data
    UL
      LI
        A(HREF="messagesLog") Twilio Messages Log
      LI
        A(HREF="testDashUser") Dashboard Users DB

